<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmput301.assignment1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sample_button"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SinglePlayerModeActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".MultiPlayerModeActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".TwoPlayerModeActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ThreePlayerModeActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".FourPlayerModeActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".StatisticsActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ReactionTimesActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ReactionStatsActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ShowElementsInArrayListActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".BuzzerCountsActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ButtonClick2P_Activity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ButtonClick3P_Activity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ButtonClick4P_Activity"
            android:label="@string/app_name">
        </activity>

    </application>

</manifest>
